$bg-transparent: transparent;
$bg-current: currentColor;
$bg-black: rgb(0, 0, 0);
$bg-white: rgb(255, 255, 255);
$bg-gray-100: rgb(247, 250, 252);
$bg-gray-200: rgb(237, 242, 247);
$bg-gray-300: rgb(226, 232, 240);
$bg-gray-400: rgb(203, 213, 224);
$bg-gray-500: rgb(160, 174, 192);
$bg-gray-600: rgb(113, 128, 150);
$bg-gray-700: rgb(74, 85, 104);
$bg-gray-800: rgb(45, 55, 72);
$bg-gray-900: rgb(26, 32, 44);
$bg-red-100: rgb(255, 245, 245);
$bg-red-200: rgb(254, 215, 215);
$bg-red-300: rgb(254, 178, 178);
$bg-red-400: rgb(252, 129, 129);
$bg-red-500: rgb(245, 101, 101);
$bg-red-600: rgb(229, 62, 62);
$bg-red-700: rgb(197, 48, 48);
$bg-red-800: rgb(155, 44, 44);
$bg-red-900: rgb(116, 42, 42);
$bg-orange-100: rgb(255, 250, 240);
$bg-orange-200: rgb(254, 235, 200);
$bg-orange-300: rgb(251, 211, 141);
$bg-orange-400: rgb(246, 173, 85);
$bg-orange-500: rgb(237, 137, 54);
$bg-orange-600: rgb(221, 107, 32);
$bg-orange-700: rgb(192, 86, 33);
$bg-orange-800: rgb(156, 66, 33);
$bg-orange-900: rgb(123, 52, 30);
$bg-yellow-100: rgb(255, 255, 240);
$bg-yellow-200: rgb(254, 252, 191);
$bg-yellow-300: rgb(250, 240, 137);
$bg-yellow-400: rgb(246, 224, 94);
$bg-yellow-500: rgb(236, 201, 75);
$bg-yellow-600: rgb(214, 158, 46);
$bg-yellow-700: rgb(183, 121, 31);
$bg-yellow-800: rgb(151, 90, 22);
$bg-yellow-900: rgb(116, 66, 16);
$bg-green-100: rgb(240, 255, 244);
$bg-green-200: rgb(198, 246, 213);
$bg-green-300: rgb(154, 230, 180);
$bg-green-400: rgb(104, 211, 145);
$bg-green-500: rgb(72, 187, 120);
$bg-green-600: rgb(56, 161, 105);
$bg-green-700: rgb(47, 133, 90);
$bg-green-800: rgb(39, 103, 73);
$bg-green-900: rgb(34, 84, 61);
$bg-teal-100: rgb(230, 255, 250);
$bg-teal-200: rgb(178, 245, 234);
$bg-teal-300: rgb(129, 230, 217);
$bg-teal-400: rgb(79, 209, 197);
$bg-teal-500: rgb(56, 178, 172);
$bg-teal-600: rgb(49, 151, 149);
$bg-teal-700: rgb(44, 122, 123);
$bg-teal-800: rgb(40, 94, 97);
$bg-teal-900: rgb(35, 78, 82);
$bg-blue-100: rgb(235, 248, 255);
$bg-blue-200: rgb(190, 227, 248);
$bg-blue-300: rgb(144, 205, 244);
$bg-blue-400: rgb(99, 179, 237);
$bg-blue-500: rgb(66, 153, 225);
$bg-blue-600: rgb(49, 130, 206);
$bg-blue-700: rgb(43, 108, 176);
$bg-blue-800: rgb(44, 82, 130);
$bg-blue-900: rgb(42, 67, 101);
$bg-indigo-100: rgb(235, 244, 255);
$bg-indigo-200: rgb(195, 218, 254);
$bg-indigo-300: rgb(163, 191, 250);
$bg-indigo-400: rgb(127, 156, 245);
$bg-indigo-500: rgb(102, 126, 234);
$bg-indigo-600: rgb(90, 103, 216);
$bg-indigo-700: rgb(76, 81, 191);
$bg-indigo-800: rgb(67, 65, 144);
$bg-indigo-900: rgb(60, 54, 107);
$bg-purple-100: rgb(250, 245, 255);
$bg-purple-200: rgb(233, 216, 253);
$bg-purple-300: rgb(214, 188, 250);
$bg-purple-400: rgb(183, 148, 244);
$bg-purple-500: rgb(159, 122, 234);
$bg-purple-600: rgb(128, 90, 213);
$bg-purple-700: rgb(107, 70, 193);
$bg-purple-800: rgb(85, 60, 154);
$bg-purple-900: rgb(68, 51, 122);
$bg-pink-100: rgb(255, 245, 247);
$bg-pink-200: rgb(254, 215, 226);
$bg-pink-300: rgb(251, 182, 206);
$bg-pink-400: rgb(246, 135, 179);
$bg-pink-500: rgb(237, 100, 166);
$bg-pink-600: rgb(213, 63, 140);
$bg-pink-700: rgb(184, 50, 128);
$bg-pink-800: rgb(151, 38, 109);
$bg-pink-900: rgb(112, 36, 89);