/** card style **/
.card {
  margin-bottom: 2.5rem;

  .card-container {
    background: $bg-white;
    border: 1px solid $border-gray-400;
    border-radius: .5rem;
    display: grid;
    grid-gap: 1rem;
    height: auto;
    overflow: hidden;
    padding: 2rem;

    @include for-size(laptop-up) {
      margin-top: 4rem;
    }
      

    .card-header {
      align-items: center;
      display: flex;

      & img {
        border-radius: 50%;
        height: 8rem;
        width: 8rem;
        margin-right: 2rem;
      }
      
      & p {
        color: $text-purple-900;
        display: block;
        font-size: calc(#{$text-lg} + 1vmin);
        font-weight: $font-bold;
      }
      
      & span {
        display: block;
        font-size: calc(#{$text-sm} + 1vmin);
        font-weight: $font-normal;
        margin-top: .5rem;
      }
    }
    
    .card-body {
      margin: 1rem
    }
    
    .card-footer {
      align-items: center;
      border-top: 1px solid $border-gray-400;
      display: grid;
      grid-gap: 1rem;
      grid-template: auto 1fr auto;
      padding-top: 2rem;

      .card-footer-container {
        grid-column: 1 / 1;
        font: $font-normal calc(#{$text-sm} + 1vmin) $font-sans;
      }

      & strong {
        color: $text-purple-600;
        display: block;
      }
    }
  }
}
